body {
  font-family: 'Courier New', 'Courier', monospace;
  text-align: center;
}

#board {
  background-color: black;
  background-image: url('./images/maggot mart title.png');
}

#board2 {
  background-color: black;
  background-image: url('./backgroundimg.png');
}
